@font-face {

    font-family: 'Gotham-Black';

    src: url('_Fonts/Gotham-Black.otf');

}

@font-face {

    font-family: 'Gotham-Bold';

    src: url('_Fonts/Gotham-Bold.otf');

}

@font-face {

    font-family: 'Gotham-Book';

    src: url('_Fonts/Gotham-Book.otf');

}